:root {
  --yellow: #b9fc00 !important;
  --yellowHover: #daff74 !important;
  --yellowActive: #d7ff67 !important;
  --dark: #343a40;
  --light: #f8f9fa;

  --blue: #007bff;
  --indigo: #6610f2;
  --purple: #6f42c1;
  --pink: #e83e8c;
  --red: #dc3545;
  --orange: #fd7e14;
  /* --yellow: #ffc107; */
  --green: #28a745;
  --teal: #20c997;
  --cyan: #17a2b8;
  --white: #fff;
  --gray: #6c757d;
  --gray-dark: #343a40;
  --primary: #007bff;
  --secondary: #6c757d;
  --success: #28a745;
  --info: #17a2b8;
  --warning: #ffc107;
  --danger: #dc3545;
  --breakpoint-xs: 0;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
  --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow:initial !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a{
  text-decoration: none !important;
  color: white !important;
}


.btn:focus,.navbar-toggler:focus {
  box-shadow: none !important;
}

.btn-close:focus {
  box-shadow: none !important;
}

.accordion-button:not(.collapsed) {
  background-color: inherit !important;
}

.form-select:focus {
  border-color: none !important;
  box-shadow: none !important;
}

.form-control:focus {
  border-color: none !important;
  box-shadow: none !important;
}

.accordion-button:focus {
  box-shadow: none !important;
}

.zoom {
  overflow: none;
  transition: transform .2s; /* Animation */
}

.zoom:hover{
  transform: scale(1.02);
}

.particles {
  position: absolute !important;
  height: 100vh ;
  top: 0;
  left: 0;

  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 1) 3%,
    rgba(42, 139, 6, 1) 100%,
    rgba(61, 7, 196, 1) 100%
  );
}

/* .btn-primary {
  color: var(--dark) !important;
  background-color: var(--yellow) !important;
  border-color:var(--dark) !important;
}

.btn-primary:focus {
  box-shadow: var(---white) !important;
}

.btn-primary:hover {
  color: var(--dark) !important;
  background-color: var(--yellowHover) !important;
  border-color: var(--dark) !important;
}

.btn-primary:active {
  color: var(--yellow);
  background-color: var(--yellowHover) !important;
  border-color: var(--dark) !important;
}


.btn-primary:disabled {
  color: var(--yellow) !important;
  background-color: var(--yellow) !important;
  border-color: var(--yellow) !important;
} */